<!DOCTYPE html>
<head>
<html lang="en">
<TITLE>My First Web Page</TITLE>
{% load static %}
<link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<!-- Simple centered navbar-->
<div class="navbar">
<a href="#" id="home"><img class="logo" src="{% static 'logo-no-background.png'%}" alt="LibreHost"></a>
        <!-- search bar right align -->
</div>

{% block content %}
{% endblock %}
</body>

