<!DOCTYPE html>
<head>
<html lang="en">
<TITLE>My First Web Page</TITLE>
{% load static %}
<link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
<link rel=”stylesheet” href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
<link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js”>

<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="login">
{% if user.is_authenitcated %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  {% else %}
<div class="btn btn-primary">
<a href="https://example.com">Login</a>
</div>
{% endif %}
</div>
<br>
<div class="navbar">
    <center>
<a href="#" id="home"><img class="logo" src="{% static 'logo-no-background.png'%}" alt="LibreHost"></a>
    </center>
</div>

{% block content %}
{% endblock %}
</body>